<div class="container">
  <h1>Task Manager</h1>

  <div class="add-task">
    <input [(ngModel)]="newTask" placeholder="Add a new task" />
    <button (click)="addTask()">Add Task</button>
  </div>

  <div class="task-list">
    <app-taskitem
      *ngFor="let task of tasks; let i = index"
      [task]="task"
      (delete)="confirmDeleteTask(i)"
      (markDone)="markAsDone(i)"
    ></app-taskitem>
  </div>
</div>

<!-- Modal Template -->
<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <strong>{{ selectedTaskName }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Continue</button>
  </div>
</ng-template>

<div *ngIf="showSuccess" class="success-banner">
  {{successMessage}}
</div>