.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.task-item button {
  margin-left: 5px;
}

.done-button{
  background-color: red;
  color: white;
}

.undo-button{
  background-color: green;
  color: white;
}